@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("assets/HelveticaNowDisplay-Black.woff2") format("woff2"),
    url("assets/HelveticaNowDisplay-Black.woff") format("woff"),
    url("assets/HelveticaNowDisplay-Black.ttf") format("truetype"),
    url("assets/HelveticaNowDisplay-Black.eot");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("assets/HelveticaNowDisplay-BlackIta.woff2") format("woff2"),
    url("assets/HelveticaNowDisplay-BlackIta.woff") format("woff"),
    url("assets/HelveticaNowDisplay-BlackIta.ttf") format("truetype"),
    url("assets/HelveticaNowDisplay-BlackIta.eot");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("assets/HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("assets/HelveticaNowDisplay-Bold.woff") format("woff"),
    url("assets/HelveticaNowDisplay-Bold.ttf") format("truetype"),
    url("assets/HelveticaNowDisplay-Bold.eot");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("assets/HelveticaNowDisplay-BoldIta.woff2") format("woff2"),
    url("assets/HelveticaNowDisplay-BoldIta.woff") format("woff"),
    url("assets/HelveticaNowDisplay-BoldIta.ttf") format("truetype"),
    url("assets/HelveticaNowDisplay-BoldIta.eot");
  font-weight: 700;
  font-style: italic;
}
/* #F6F2F6
#E1D5D9
#B7A7AE
#58545B
#1C252C */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
header {
  display: flex;
  flex-direction: column;
  color: white;
  height: 80px;
  justify-content: center;
  z-index: 2;
  background-color: #000000;
}
nav {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  gap: 20px;
}
ul:last-child {
  margin-right: 20px;
}
#home {
  font-family: "HelveticaNowDisplay", sans-serif;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: 900;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#home-child-container-1 {
  margin-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 2;
}
#background-video {
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 5;
}
#home-child-1-para {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  text-wrap: stable;
  width: 60%;
}
.arrow-container {
  position: fixed;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.3s;
  filter: opacity(0.8);
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white;
  transition: border-top-color 0.3s;
}

.arrow-container:hover {
  background-color: #ffffff;
}

.arrow-container:hover .arrow {
  border-top-color: #000000;
}

#about {
  font-family: "HelveticaNowDisplay", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-weight: 900;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#about-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
#about-container-1 > #about-para {
  font-weight: 500;
  text-wrap: wrap;
  font-size: 18px;
}
#about-container-2 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
#my-photo-container {
  width: 380px;
  height: 500px;
  display: flex;
}
#my-photo {
  border-radius: 50px;
  height: 100%;
  width: 100%;
  filter: brightness(50%) grayscale(50%);
}

#projects {
  background-color: #1c252c;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#projects_container_1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 50px;
}
#projects_container_2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.particular-project-container {
  display: flex;
  flex-direction: column;
}
#project-1-info-container,
#project-2-info-container,
#project-3-info-container {
  flex-grow: 1;
}
#skills {
  width: 100%;
  height: 100vh;
  background-color: #623c94;
}
.skills-heading {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-bottom: 50px;
}
#contact {
  width: 100%;
  height: 100vh;
  background-color: #261a2b;
  color: white;
}
